apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app-deployment
  labels:
    app: spring-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: spring-app
        image: indalarajesh/spring-app:45-36ebce60ceb483ebaa9e81e77068229da3e5675b
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
